/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.code {
  background-color: rgba(0, 0, 0, 0.838);
  color: #f5f5f5;
  padding: 10px;
  overflow: auto;
  display: block;
  font-family: monospace;
  white-space: pre;
}
